<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Animelist BackUp</title>
</head>

<body class="bg-[#080808] text-zinc-200">
  <h1>mi lista de anime</h1>
  <div id="anime-content" class="flex flex-col gap-4">
  </div>
</body>
<script>
  fetch("/anime").then(res => res.json()).then(animus => {
      const $animeContent = document.getElementById("anime-content")

      
      for(const animu of animus) {
        const $card = document.createElement("div")
        $card.className = "bg-purple-600 p-2 w-400"
        $card.innerHTML = `
          <h2 class="text-lg font-bold">${animu.titulo}</h2>
          <p>${animu.categoria}</p>
          <p align="left"><img src="${animu.poster}" width="200px" height="10"/></p>
        `
        $animeContent.appendChild($card)
      }
      

    })
    
</script>

</html>